---
http_interactions:
- request:
    method: get
    uri: http://owners.acura.com/Recalls/GetRecallsByVin/5FRYD4H41FB013225/true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"LastUpdated":"Sep 15, 2015","Warning":false,"WarningCode":null,"WarningText":null,"DivisionMismatch":false,"VIN":"5FRYD4H41FB013225","Make":"Acura","ModelYear":"2015","DivisionCd":"B","ModelGroupId":null,"ModelGroupName":"MDX","RecallsUrl":"//owners.acura.com/recalls/5FRYD4H41FB013225","SaveVinUrl":"/account/add-vehicle/5FRYD4H41FB013225","IsLoggedIn":false,"CampaignTypes":[{"SortOrder":1,"Campaigns":[{"AgencyTypeCd":"N","AgencyType":"National
        Highway Transportation Safety Administration (NHTSA)","AgencyName":"NHTSA","RecallNumber":"15V-417","Description":"A/C
        Compressor Clutch Bolt","Id":"JQ7","RecallDate":"06/24/2015","RecallStatus":"Recall
        INCOMPLETE","RecallDescription":"AMERICAN HONDA MOTOR CO., INC. (HONDA) IS
        RECALLING CERTAIN MODEL YEAR2014-2015 ACURA MDX VEHICLES. DURING MANUFACTURING
        OF THE A/C COMPRESSOR CLUTCH DRIVE BOLTS, CERTAIN LOTS FAILED TO RECEIVE THE
        PROPER DIELECTRIC TOPCOAT. WITHOUT THE TOPCOAT, THE BOLTS ARE SUSCEPTIBLE
        TO CORROSION AND MAY BREAK DURING OPERATION.                                  IN
        ADDITION, THERE WERE CERTAIN LOTS THAT DID NOT HAVE SUFFICIENT CURING OF THE
        E-COAT APPLIED TO THE BOLTS. INSUFFICIENT E-COAT CURING MAY CAUSE LOW TORQUE
        VALUES AND LOW HARDNESS, RESULTING IN THE BOLT BECOMING LOOSE OR FALLING OFF
        DURING OPERATION.","SafetyRiskDescription":"EITHER OF THESE CONDITIONS CAN
        CAUSE THE A/C UNIT TO BLOW WARM AIR, ORIN SEVERE CASES THE A/C CLUTCH DRIVE
        PLATE MAY FALL OFF THE VEHICLE   DURING OPERATION.","RemedyDescription":"HONDA
        WILL NOTIFY OWNERS, AND DEALERS WILL REPLACE THE CLUTCH DRIVE  BOLT, AND IF
        NECESSARY INSTALL A NEW CLUTCH PLATE AND/OR COMPRESSOR, FREE OF CHARGE. BECAUSE
        THE NEW VEHICLE WARRANTY ON ALL AFFECTED VEHICLES WOULD HAVE PROVIDED A FREE
        REPAIR FOR THE PROBLEM ADDRESSED BY THIS RECALL, WITHOUT ANY PAYMENT BY THE
        OWNER, REIMBURSEMENT FOR PRE-NOTIFICATION REPAIRS WILL NOT BE OFFERED. OWNERS
        MAY CONTACT ACURA CLIENT RELATIONS AT 1-800-382-2238, OPTION 4. ACURA''S CAMPAIGN
        NUMBER FOR THIS RECALL IS JQ7."}]}]}'
  recorded_at: Wed, 16 Sep 2015 15:12:02 GMT
[...]
- request:
    method: get
    uri: http://owners.acura.com/Recalls/GetRecallsByVin/JH4CL96847C009863/true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"LastUpdated":"Sep 28, 2015","Warning":false,"WarningCode":null,"WarningText":null,"DivisionMismatch":false,"VIN":"JH4CL96847C009863","Make":"Acura",[...]
- request:
    method: get
    uri: http://owners.acura.com/Recalls/GetRecallsByVin/WMWXM5C52ET935269/true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"LastUpdated":"Oct 19, 2015","Warning":true,"WarningCode":"1000","WarningText":"Invalid
        VIN","DivisionMismatch":false,"VIN":"WMWXM5C52ET935269","Make":null,"ModelYear":null,"DivisionCd":null,"ModelGroupId":null,"ModelGroupName":null,"RecallsUrl":null,"SaveVinUrl":null,"IsLoggedIn":false,"CampaignTypes":null}'
  recorded_at: Tue, 20 Oct 2015 16:16:38 GMT
recorded_with: VCR 2.9.3
