---
http_interactions:
- request:
    method: get
    uri: http://web.audiusa.com/audirecall/vin/WAUAFAFL9DA143522
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"vin":"WAUAFAFL9DA143522","status":true,"year":2013,"make":"AUDI","model":"A4
        2.0T FWD MULTITRONIC","manufacturerId":2,"isRecallsAvailable":true,"numberOfRecalls":1,"refreshDate":"Sep
        18, 2015","recalls":[{"vwgoaActionTitle":"Airbag Control Unit Deployment Parameter   ","mfrRecallNumber":"69K5","nhtsaRecallNumber":"14V667","recallDate":"Oct
        24, 2014","recallDescription":"In rare cases, it is possible that the front
        airbags in the affected vehicles may not deploy in a crash as designed, due
        to an improper algorithm/coding within the airbag control module. Front seat
        occupants may not have the intended protection from the frontal airbag system
        in a secondary impact, putting them at risk for injury.\n\nThere have been
        no reports of accidents or injuries as a result of this concern in the United
        States.\n","safetyRiskDescription":"Front seat occupants may not have the
        intended protection from the frontal airbag system in a secondary impact,
        putting them at risk for injury.","remedyDescription":"To correct this defect,
        Audi will perform an adjustment to the airbag control unit deployment parameter.","mfrRecallStatus":11,"mfrNotes":"
        ","refreshDate":"Sep 18, 2015","vwgoaActionType":"SAFETY"}]}'
  recorded_at: Fri, 18 Sep 2015 11:24:20 GMT
- request:
    method: get
    uri: http://web.audiusa.com/audirecall/vin/WAUEFGFF8F1055031
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"vin":"WAUEFGFF8F1055031","status":true,"year":2015,"make":"AUDI","model":"A3
        Sedan 2.0T quattro S tronic","manufacturerId":2,"isRecallsAvailable":false,"numberOfRecalls":0,"refreshDate":"Sep
        18, 2015","recalls":[]}'
  recorded_at: Fri, 18 Sep 2015 11:24:31 GMT
- request:
    method: get
    uri: http://web.audiusa.com/audirecall/vin/WAUFFAFL8EN010000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"vin":"WAUFFAFL8EN010000","status":false,"errorCode":91}'
  recorded_at: Fri, 18 Sep 2015 11:24:37 GMT
recorded_with: VCR 2.9.3
