---
http_interactions:
- request:
    method: get
    uri: http://www.bmwusa.com/Services/VinRecallService.svc/GetRecallCampaignsForVin/WBA3C3C51EF986010
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Status":0,"StatusData":{"ContractValidationResults":[],"ExceptionDetail":null},"ViewModel":{"Error":0,"Make":"BMW","Model":"320I
        XDRIVE US A","RecallCampaigns":[{"ValidationRules":"{\"rules\":{},\"messages\":{}}","ViewModelValidation":{"IsValid":false,"PropertyValidations":[]},"Description":"Your
        vehicle was updated by a BMW center with a new software version which inadvertently
        made the front side marker lamps inoperative.  As a result, the front side
        marker lamps do not illuminate when the parking lamps or headlamps are activated;
        no warning message is shown in the instrument cluster. ","HasRecallLetter":false,"ManufacturerNotes":"For
        additional information or assistance, please contact Customer Relations and
        Service at 1-800-525-7417 or via Email at CustomerRelations@bmwusa.com","ManufacturerRecallNumber":"NA","ManufacturerRecallStatus":11,"RecallDate":"August
        13, 2015","RecallNumber":"15V-520","RefreshDate":"September 17, 2015","RemedyDescription":"Your
        BMW center will reprogram your vehicle with the correct software free of charge.
        ","SafetyRiskDescription":"Your vehicle does not conform to FMVSS No. 108.  Other
        drivers may not notice the vehicle, especially at night, increasing the risk
        of a crash.","SortOrder":0,"Title":"FRONT SIDE MARKER LAMPS"}],"RefreshDate":"September
        17, 2015","Vin":"WBA3C3C51EF986010","Year":2014}}'
  recorded_at: Thu, 17 Sep 2015 13:09:06 GMT
- request:
    method: get
    uri: http://www.bmwusa.com/Services/VinRecallService.svc/GetRecallCampaignsForVin/WBA3N9C55FK248054
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Status":0,"StatusData":{"ContractValidationResults":[],"ExceptionDetail":null},"ViewModel":{"Error":0,"Make":"BMW","Model":"428I
        XDRIVE A","RecallCampaigns":[],"RefreshDate":"September 17, 2015","Vin":"WBA3N9C55FK248054","Year":2015}}'
  recorded_at: Thu, 17 Sep 2015 13:09:07 GMT
- request:
    method: get
    uri: http://www.bmwusa.com/Services/VinRecallService.svc/GetRecallCampaignsForVin/WBA3N9C55FK240000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Status":0,"StatusData":{"ContractValidationResults":[],"ExceptionDetail":null},"ViewModel":{"Error":2,"Make":null,"Model":null,"RecallCampaigns":[],"RefreshDate":null,"Vin":null,"Year":null}}'
  recorded_at: Thu, 17 Sep 2015 13:09:07 GMT
recorded_with: VCR 2.9.3
