---
http_interactions:
- request:
    method: get
    uri: http://recalls.gm.com/recall/services/2G1FL1EP7E9800295/recalls
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Location:
      - https://recalls.gm.com/recall/services/2G1FL1EP7E9800295/recalls
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Sep 2015 14:58:33 GMT
- request:
    method: get
    uri: https://recalls.gm.com/recall/services/2G1FL1EP7E9800295/recalls
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"messages":[],"serverErrorMsgs":[],"data":{"vin":"2G1FL1EP7E9800295","year":2014,"make":"Chevrolet","model":"Camaro","manufacturer_id":1,"recalls_available":true,"number_of_recalls":1,"recalls":[{"recall_type":"ZPSR","nhtsa_recall_number":"14V346","mfr_recall_number":"N140294","recall_date":"Jun
        26, 2014","recall_title":"IGNITION KEY","recall_description":"General Motors
        has decided that a defect which relates to motor vehicle safety exists in
        all 2010-2014 model year Chevrolet Camaro vehicles.  There is a risk, under
        certain conditions, that some drivers may bump the ignition key with their
        knee and unintentionally move the key away from the \"run\" position.  If
        this occurs, engine power, and power braking will be affected and power steering
        may be affected, increasing the risk of a crash.","safety_risk_description":"The
        timing of the key movement out of the \"run\" position, relative to the activation
        of the sensing algorithm of the crash event, may result in the airbags not
        deploying, increasing the potential for occupant injury in certain kinds of
        crashes.  Until the recall has been performed, it is very important that drivers
        adjust their seat and steering column to allow clearance between their knee
        and the ignition key.","remedy_description":"Dealers are to provide two replacement
        key rings. Vehicles with slotted keys will also receive key inserts. This
        will be provided free of charge. Please contact your dealer now to order parts.
        Until the recall has been performed, it is very important that you adjust
        your seat and steering column to allow clearance between your knee and the
        ignition key.","mfr_recall_status":"11"}],"status":true,"error_code":0,"refresh_date":"Sep
        17, 2015"}}'
  recorded_at: Thu, 17 Sep 2015 14:58:34 GMT
- request:
    method: get
    uri: http://recalls.gm.com/recall/services/2G1FT3DW8E9240520/recalls
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Location:
      - https://recalls.gm.com/recall/services/2G1FT3DW8E9240520/recalls
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Sep 2015 14:58:35 GMT
- request:
    method: get
    uri: https://recalls.gm.com/recall/services/2G1FT3DW8E9240520/recalls
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"messages":[],"serverErrorMsgs":[],"data":{"vin":"2G1FT3DW8E9240520","year":2014,"make":"Chevrolet","model":"Camaro","manufacturer_id":1,"recalls_available":false,"number_of_recalls":0,"recalls":[],"status":true,"error_code":0,"refresh_date":"Sep
        17, 2015"}}'
  recorded_at: Thu, 17 Sep 2015 14:58:36 GMT
[...]
- request:
    method: get
    uri: http://recalls.gm.com/recall/services/1G1YM3D7XE5117202/recalls
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Location:
      - https://recalls.gm.com/recall/services/1G1YM3D7XE5117202/recalls
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 30 Sep 2015 09:23:56 GMT
- request:
    method: get
    uri: https://recalls.gm.com/recall/services/1G1YM3D7XE5117202/recalls
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"messages":[],"serverErrorMsgs":[],"data":{"vin":"1G1YM3D7XE5117202","year":2014,"make":"Chevrolet","model":"Corvette","manufacturer_id":1,"recalls_availabl[...]
- request:
    method: get
    uri: http://recalls.gm.com/recall/services/1N4AL3AP6DN408008/recalls
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Location:
      - https://recalls.gm.com/recall/services/1N4AL3AP6DN408008/recalls
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 20 Oct 2015 16:19:27 GMT
- request:
    method: get
    uri: https://recalls.gm.com/recall/services/1N4AL3AP6DN408008/recalls
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"messages":["VEHICLE_INVALID_VIN"],"serverErrorMsgs":[],"data":null}'
  recorded_at: Tue, 20 Oct 2015 16:19:29 GMT
- request:
    method: get
    uri: https://my.gm.com/na-gm/services/2G1FL1EP7E9800295/recalls
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/plain
      Location:
      - https://accounts.gm.com/gmappcloud/gmoc/sso.do?returnUrl=https%3A%2F%2Fmy.gm.com%3A443%2Fna-gm%2Fservices%2F2G1FL1EP7E9800295%2Frecalls&entityID=my.gm.com&TARGET=https%3A%2F%2Fmy.gm.com%3A443%2Fna-gm%2Fservices%2F2G1FL1EP7E9800295%2Frecalls
    body:
      encoding: UTF-8
      string: "<html><head><title>302 Moved Temporarily</title></head>\r\n<body bgcolor=\"#FFFFFF\">\r\n<p>This
        document you requested has moved temporarily.</p>\r\n<p>It's now at <a href=\"https://accounts.gm.com/gmappcloud/gmoc/sso.do?returnUrl=https&#37;3A&#37;2F&#37;2Fmy.gm.com&#37;3A443&#37;2Fna-gm&#37;2Fservices&#37;2F2G1FL1EP7E9800295&#37;2Frecalls&amp;entityID=my.gm.com&amp;TARGET=https&#37;3A&#37;2F&#37;2Fmy.gm.com&#37;3A443&#37;2Fna-gm&#37;2Fservices&#37;2F2G1FL1EP7E9800295&#37;2Frecalls\">https://accounts.gm.com/gmappcloud/gmoc/sso.do?returnUrl=https&#37;3A&#37;2F&#37;2Fmy.gm.com&#37;3A443&#37;2Fna-gm&#37;2Fservices&#37;2F2G1FL1EP7E9800295&#37;2Frecalls&amp;entityID=my.gm.com&amp;TARGET=https&#37;3A&#37;2F&#37;2Fmy.gm.com&#37;3A443&#37;2Fna-gm&#37;2Fservices&#37;2F2G1FL1EP7E9800295&#37;2Frecalls</a>.</p>\r\n</body></html>\r\n"
  recorded_at: Fri, 22 Jan 2016 21:26:10 GMT
- request:
    method: get
    uri: https://accounts.gm.com/gmappcloud/gmoc/sso.do?TARGET=https://my.gm.com:443/na-gm/services/2G1FL1EP7E9800295/recalls&entityID=my.gm.com&returnUrl=https://my.gm.com:443/na-gm/services/2G1FL1EP7E9800295/recalls
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Www-Authenticate:
      - Basic realm="SCRealm"
      Location:
      - https://my.gm.com:443/na-gm/services/2G1FL1EP7E9800295/recalls
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Jan 2016 21:26:10 GMT
[...]
- request:
    method: get
    uri: https://my.gm.com/na-gm/services/1G1YM3D7XE5117202/recalls
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/plain
      Location:
      - https://accounts.gm.com/gmappcloud/gmoc/sso.do?returnUrl=https%3A%2F%2Fmy.gm.com%3A443%2Fna-gm%2Fservices%2F1G1YM3D7XE5117202%2Frecalls&entityID=my.gm.com&TARGET=https%3A%2F%2Fmy.gm.com%3A443%2Fna-gm%2Fservices%2F1G1YM3D7XE5117202%2Frecalls
    body:
      encoding: UTF-8
      string: "<html><head><title>302 Moved Temporarily</title></head>\r\n<body bgcolor=\"#FFFFFF\">\r\n<p>This
        document you requested has moved temporarily.</p>\r\n<p>It's now at <a href=\"https://accounts.gm.com/gmappcloud/gmoc/sso.do?returnUrl=https&#37;3A&#37;2F&#37;2Fmy.gm.com&#37;3A443&#37;2Fna-gm&#37;2Fservices&#37;2F1G1YM3D7XE5117202&#37;2Frecalls&amp;entityID=my.gm.com&amp;TARGET=https&#37;3A&#37;2F&#37;2Fmy.gm.com&#37;3A443&#37;2Fna-gm&#37;2Fservices&#37;2F1G1YM3D7XE5117202&#37;2Frecalls\">https://accounts.gm.com/gmappcloud/gmoc/sso.do?returnUrl=https&#37;3A&#37;2F&#37;2Fmy.gm.com&#37;3A443&#37;2Fna-gm&#37;2Fservices&#37;2F1G1YM3D7XE5117202&#37;2Frecalls&amp;entityID=my.gm.com&amp;TARGET=https&#37;3A&#37;2F&#37;2Fmy.gm.com&#37;3A443&#37;2Fna-gm&#37;2Fservices&#37;2F1G1YM3D7XE5117202&#37;2Frecalls</a>.</p>\r\n</body></html>\r\n"
  recorded_at: Fri, 22 Jan 2016 21:26:11 GMT
- request:
    method: get
    uri: https://accounts.gm.com/gmappcloud/gmoc/sso.do?TARGET=https://my.gm.com:443/na-gm/services/1G1YM3D7XE5117202/recalls&entityID=my.gm.com&returnUrl=https://my.gm.com:443/na-gm/services/1G1YM3D7XE5117202/recalls
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Www-Authenticate:
      - Basic realm="SCRealm"
      Location:
      - https://my.gm.com:443/na-gm/services/1G1YM3D7XE5117202/recalls
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Jan 2016 21:26:12 GMT
- request:
    method: get
    uri: https://my.gm.com/na-gm/services/1G1YM3D7XE5117202/recalls
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"messages":[],"serverErrorMsgs":[],"data":{"vin":"1G1YM3D7XE5117202","year":2014,"make":"Chevrolet","model":"Corvette","manufacturer_id":1,"recalls_available":true,"number_of_recalls":2,"recalls":[{"recall_type":"ZPSR","nhtsa_recall_number":"14V377","mfr_recall_number":"N140302","recall_date":"Jun
        26, 2014","recall_title":"REPLACE BOTH REAR SHOCKS","recall_description":"General
        Motors has decided that a defect which relates to motor vehicle safety exists
        in certain 2014 model year Chevrolet Corvette vehicles.  An improper weld
        on the rear shock absorbers may lead to separation of the shock absorber tube
        from the shock absorber clevis bracket.","safety_risk_description":"Separation
        of the shock absorber tube from the shock absorber clevis bracket may cause
        a sudden change in vehicle handling behavior that may startle drivers, increasing
        the risk of a crash.","remedy_description":"Dealers are to replace both rear
        shock absorbers.","mfr_recall_status":"11","part_availability":null,"customer_action":null},{"recall_type":"ZPER","nhtsa_recall_number":null,"mfr_recall_number":"N140689","recall_date":"Dec
        19, 2014","recall_title":"FUEL FILL PIPE ANTI-SIPHON GRID OUT OF POSITION","recall_description":null,"safety_risk_description":null,"remedy_description":null,"mfr_recall_status":"11","part_availability":null,"customer_action":null}],"status":true,"error_code":0,"refresh_date":"Jan
        07, 2016"}}'
  recorded_at: Fri, 22 Jan 2016 21:26:13 GMT
- request:
    method: get
    uri: https://my.gm.com/na-gm/services/2G1FT3DW8E9240520/recalls
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/plain
      Location:
      - https://accounts.gm.com/gmappcloud/gmoc/sso.do?returnUrl=https%3A%2F%2Fmy.gm.com%3A443%2Fna-gm%2Fservices%2F2G1FT3DW8E9240520%2Frecalls&entityID=my.gm.com&TARGET=https%3A%2F%2Fmy.gm.com%3A443%2Fna-gm%2Fservices%2F2G1FT3DW8E9240520%2Frecalls
    body:
      encoding: UTF-8
      string: "<html><head><title>302 Moved Temporarily</title></head>\r\n<body bgcolor=\"#FFFFFF\">\r\n<p>This
        document you requested has moved temporarily.</p>\r\n<p>It's now at <a href=\"https://accounts.gm.com/gmappcloud/gmoc/sso.do?returnUrl=https&#37;3A&#37;2F&#37;2Fmy.gm.com&#37;3A443&#37;2Fna-gm&#37;2Fservices&#37;2F2G1FT3DW8E9240520&#37;2Frecalls&amp;entityID=my.gm.com&amp;TARGET=https&#37;3A&#37;2F&#37;2Fmy.gm.com&#37;3A443&#37;2Fna-gm&#37;2Fservices&#37;2F2G1FT3DW8E9240520&#37;2Frecalls\">https://accounts.gm.com/gmappcloud/gmoc/sso.do?returnUrl=https&#37;3A&#37;2F&#37;2Fmy.gm.com&#37;3A443&#37;2Fna-gm&#37;2Fservices&#37;2F2G1FT3DW8E9240520&#37;2Frecalls&amp;entityID=my.gm.com&amp;TARGET=https&#37;3A&#37;2F&#37;2Fmy.gm.com&#37;3A443&#37;2Fna-gm&#37;2Fservices&#37;2F2G1FT3DW8E9240520&#37;2Frecalls</a>.</p>\r\n</body></html>\r\n"
  recorded_at: Fri, 22 Jan 2016 21:26:13 GMT
- request:
    method: get
    uri: https://accounts.gm.com/gmappcloud/gmoc/sso.do?TARGET=https://my.gm.com:443/na-gm/services/2G1FT3DW8E9240520/recalls&entityID=my.gm.com&returnUrl=https://my.gm.com:443/na-gm/services/2G1FT3DW8E9240520/recalls
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Www-Authenticate:
      - Basic realm="SCRealm"
      Location:
      - https://my.gm.com:443/na-gm/services/2G1FT3DW8E9240520/recalls
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Jan 2016 21:26:14 GMT
[...]
- request:
    method: get
    uri: https://my.gm.com/na-gm/services/1N4AL3AP6DN408008/recalls
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/plain
      Location:
      - https://accounts.gm.com/gmappcloud/gmoc/sso.do?returnUrl=https%3A%2F%2Fmy.gm.com%3A443%2Fna-gm%2Fservices%2F1N4AL3AP6DN408008%2Frecalls&entityID=my.gm.com&TARGET=https%3A%2F%2Fmy.gm.com%3A443%2Fna-gm%2Fservices%2F1N4AL3AP6DN408008%2Frecalls
    body:
      encoding: UTF-8
      string: "<html><head><title>302 Moved Temporarily</title></head>\r\n<body bgcolor=\"#FFFFFF\">\r\n<p>This
        document you requested has moved temporarily.</p>\r\n<p>It's now at <a href=\"https://accounts.gm.com/gmappcloud/gmoc/sso.do?returnUrl=https&#37;3A&#37;2F&#37;2Fmy.gm.com&#37;3A443&#37;2Fna-gm&#37;2Fservices&#37;2F1N4AL3AP6DN408008&#37;2Frecalls&amp;entityID=my.gm.com&amp;TARGET=https&#37;3A&#37;2F&#37;2Fmy.gm.com&#37;3A443&#37;2Fna-gm&#37;2Fservices&#37;2F1N4AL3AP6DN408008&#37;2Frecalls\">https://accounts.gm.com/gmappcloud/gmoc/sso.do?returnUrl=https&#37;3A&#37;2F&#37;2Fmy.gm.com&#37;3A443&#37;2Fna-gm&#37;2Fservices&#37;2F1N4AL3AP6DN408008&#37;2Frecalls&amp;entityID=my.gm.com&amp;TARGET=https&#37;3A&#37;2F&#37;2Fmy.gm.com&#37;3A443&#37;2Fna-gm&#37;2Fservices&#37;2F1N4AL3AP6DN408008&#37;2Frecalls</a>.</p>\r\n</body></html>\r\n"
  recorded_at: Fri, 22 Jan 2016 21:26:15 GMT
- request:
    method: get
    uri: https://accounts.gm.com/gmappcloud/gmoc/sso.do?TARGET=https://my.gm.com:443/na-gm/services/1N4AL3AP6DN408008/recalls&entityID=my.gm.com&returnUrl=https://my.gm.com:443/na-gm/services/1N4AL3AP6DN408008/recalls
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Www-Authenticate:
      - Basic realm="SCRealm"
      Location:
      - https://my.gm.com:443/na-gm/services/1N4AL3AP6DN408008/recalls
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Jan 2016 21:26:16 GMT
[...]
- request:
    method: get
    uri: https://my.gm.com/na-gm/services/1G1YM3D7XE5117135/recalls
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"messages":[],"serverErrorMsgs":[],"data":{"vin":"1G1YM3D7XE5117135","year":2014,"make":"Chevrolet","model":"Corvette","manufacturer_id":1,"recalls_available":true,"number_of_recalls":1,"recalls":[{"recall_type":"ZPER","nhtsa_recall_number":null,"mfr_recall_number":"N140689","recall_date":"Dec
        19, 2014","recall_title":"FUEL FILL PIPE ANTI-SIPHON GRID OUT OF POSITION","recall_description":null,"safety_risk_description":null,"remedy_description":null,"mfr_recall_status":"11","part_availability":null,"customer_action":null}],"status":true,"error_code":0,"refresh_date":"Jan
        07, 2016"}}'
  recorded_at: Fri, 22 Jan 2016 21:29:08 GMT
recorded_with: VCR 2.9.3
