---
http_interactions:
- request:
    method: get
    uri: http://www.miniusa.com/api/safetyRecall.action?vin=WMWXM5C52ET935269
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"vin":"WMWXM5C52ET935269","status":true,"year":2014,"make":"MINI","model":"Cooper
        Hardtop","manufacturer_id":15,"recalls_available":true,"number_of_recalls":3,"refresh_date":"Sep
        18, 2015","recalls":[{"nhtsa_recall_number":"14V-619","mfr_recall_number":"NA","recall_date":"OCT
        02, 2014","recall_title":"SPARE WHEEL CARRIER ","recall_description":"On certain
        Model Year 2014 MINI Cooper Hardtop vehicles, a nut without a self-locking
        feature was used to attach the space-saver spare wheel carrier underneath
        the vehicle''s trunk.  Due to vibration during driving, the nut could start
        to loosen. Over time, the nut could back off and cause the wheel carrier and
        the space-saver spare wheel to separate from the vehicle''s underbody.","safety_risk_description":"If
        the space-saver spare wheel separates from the vehicle''s underbody, the carrier
        and/or wheel could become a hazard to road users.","remedy_description":"Your  MINI
        dealer will replace the space-saver spare wheel carrier nut with the appropriate
        self-locking nut.","mfr_recall_status":11,"mfr_notes":"For additional information
        or assistance, please contact Customer Relations and Services at 1-866-825-1525
        or email at MINI.Assistance@askminiusa.com.","refresh_date":"SEP 18, 2015","owner_notification_letter_available":true},{"nhtsa_recall_number":"15V-034","mfr_recall_number":"NA","recall_date":"JAN
        22, 2015","recall_title":"TIRE LABEL","recall_description":"Affected vehicles
        do not conform to FMVSS 110 Section 4.3(a).","safety_risk_description":"On
        the tire information label, the vehicle''s stated maximum capacity weight
        is incorrect.","remedy_description":"Your MINI dealer will install an updated
        FMVSS 110 Tire Information Placard containing your MINI''s correct maxim[...]
- request:
    method: get
    uri: http://www.miniusa.com/api/safetyRecall.action?vin=WMWZB3C54EWR39373
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"vin":"WMWZB3C54EWR39373","status":true,"year":2014,"make":"MINI","model":"COOPER
        US A","manufacturer_id":15,"recalls_available":false,"number_of_recalls":0,"refresh_date":"September
        18, 2015","recalls":[]}'
  recorded_at: Fri, 18 Sep 2015 12:13:14 GMT
- request:
    method: get
    uri: http://www.miniusa.com/api/safetyRecall.action?vin=WMWZB3C54EWR30000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"vin":"WMWZB3C54EWR30000","status":false,"error_code":91}'
  recorded_at: Fri, 18 Sep 2015 12:13:14 GMT
- request:
    method: get
    uri: http://www.miniusa.com/api/safetyRecall.action?vin=1G1YM3D7XE5117202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"vin":"1G1YM3D7XE5117202","status":false,"error_code":91}'
  recorded_at: Tue, 20 Oct 2015 16:23:35 GMT
recorded_with: VCR 2.9.3
