---
http_interactions:
- request:
    method: get
    uri: http://www.mitsubishicars.com/rs/warranty?vin=JA3215H17CU014800
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"vehicleInfo":{"vin":"JA3215H17CU014800","model":"i-MiEV - ELECTRIC","country":"US","priceline":"ES","modelYear":2012,"exteriorColor":"COOL
        SILVER METALLIC","interiorColor":"BLACK","transmissionCode":"1AT","inServiceDate":"02/27/2013","bodyModel":"EV44"},"ownerWarrantyDetails":[{"warrantyDescription":"MAIN-DRIVE
        LITHIUM BATTERY - IMIEV EV ONLY","mileageCovered":100000,"monthsCovered":96,"mileageRemaining":100000,"timeRemaining":"02/27/2021"},{"warrantyDescription":"NEW
        VEHICLE LIMITED WARRANTY (BASIC) COVERAGE","mileageCovered":36000,"monthsCovered":36,"mileageRemaining":36000,"timeRemaining":"02/27/2016"},{"warrantyDescription":"POWERTRAIN
        LIMITED WARRANTY COVERAGE","mileageCovered":60000,"monthsCovered":60,"mileageRemaining":60000,"timeRemaining":"02/27/2018"},{"warrantyDescription":"RESTRAINT
        SYSTEM COVERAGE (AIR BAGS, SEAT BELTS)","mileageCovered":60000,"monthsCovered":60,"mileageRemaining":[...]
- request:
    method: get
    uri: http://www.mitsubishicars.com/rs/warranty?vin=JA4AZ3A32GZ004183
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"vehicleInfo":{"vin":"JA4AZ3A32GZ004183","model":"OUTLANDER AWD","country":"US","priceline":"2.4
        SE S-AWC","mod[...]
- request:
    method: get
    uri: http://www.mitsubishicars.com/rs/warranty?vin=JA4AZ3A32GZ000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"vehicleInfo":null,"ownerWarrantyDetails":null,"subsequentOwnerWarrantyDetails":null,"openedRecalls":null,"completedRecalls":null,"promoMessageDetails":null,"serviceMessageDetails":null,"warExtMessageDetails":null,"customer":null,"claimDetails":null,"nhtsaVehicle":null,"nhtsaOpenRecalls":null,"success":false,"statusCode":"500","statusMessage":"VIN
        DOES NOT EXIST                                                           "}'
  recorded_at: Fri, 18 Sep 2015 14:45:58 GMT
- request:
    method: get
    uri: http://www.mitsubishicars.com/rs/warranty?vin=4A4AP5AU3DE022512
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"vehicleInfo":{"vin":"4A4AP5AU3DE022512","model":"OUTLANDER SPORT
        2WD","country":"US","priceline":"LE 2WD","mod[...]
