---
http_interactions:
- request:
    method: get
    uri: https://app.recallmasters.com/api/v1/lookup/1ZVBP8AMXD5277023/?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token FAKE_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"vin":"1ZVBP8AMXD5277023","make":"Ford","model_name":"Mustang","model_year":"2013","updated_time":"2016-03-11T11:09:27.009672Z","recalls":[{"nhtsa_id":"15V319000","oem_id":"FORD
        15S21","type":"recall","effective_date":"2015-05-27","expiration_date":null,"parts_available":"Not
        Available","is_remedy_available":false,"name":"Driver Airbag Inflator may
        be Defective and Cause injury During a Crash","description":"Safety Risk -
        Driver Airbag Inflator","risk":"In Inflator Rupture Could Result In Metal
        Fragments Striking And Potentially Injuring Vehicle Occupants","remedy":"Dealers
        Will Replace The Driver Airbag Inflator With A New One, Free Of Charge.","overall_rank":2,"risk_rank":5,"profit_rank":3,"labor_min":null,"labor_max":null,"labor_difficulty":2,"age":0,"created_time":"2016-03-11T11:09:26.762Z","updated_time":"2016-03-11T11:09:26.762Z","reimbursement":null}],"status":"OK","error_description":"","recall_count":1,"customer":null}'
  recorded_at: Fri, 11 Mar 2016 11:09:27 GMT
- request:
    method: get
    uri: https://app.recallmasters.com/api/v1/lookup/3FA6P0H79DR185703/?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token FAKE_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"vin":"3FA6P0H79DR185703","make":"Ford","model_name":"Fusion","model_year":"[...]
- request:
    method: get
    uri: https://app.recallmasters.com/api/v1/lookup/1FM5K7B96EGA76353/?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token FAKE_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"vin":"1FM5K7B96EGA76353","make":"Ford","model_name":"Explorer","model_year":"2014","updated_time":"2016-03-11T11:09:42.626356Z","recalls":[],"status":"OK","error_description":"","recall_count":0,"customer":null}'
  recorded_at: Fri, 11 Mar 2016 11:09:42 GMT
- request:
    method: get
    uri: https://app.recallmasters.com/api/v1/lookup/11111111111111111/?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token FAKE_KEY
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"vin":"11111111111111111","make":null,"model_name":"","model_year":"","updated_time":"2016-03-11T10:48:44.130259Z","recalls":[],"status":"ERROR","error_description":"Vendor
        is not supported or invalid VIN.","recall_count":0,"customer":null}'
  recorded_at: Fri, 11 Mar 2016 11:09:48 GMT
recorded_with: VCR 3.0.1
